* {
	font-size:18px;
	color:#333;
	font-family:"Comic Sans MS";
}

html,body {
	width:100%;
	max-width:900px;
	margin:0 auto;
	padding:0;
	min-height:100%;
	background:#fff;
}

body {
	border:1px solid #999;
	border-width:0 1px;
	background:#f9f9f9;
}

img#birds {
	width:100%;
	max-width:900px;
	min-width:360px;
	margin:0 auto;
	display:block;
}

h1,h2 {
	font-size:30px;
	margin:0 auto;
	color:#333;
	max-width:900px;
	text-align:center;
	padding:10px 0;
	background:#fff;
}

h2 {
	margin-top:50px;
	border:1px solid #999;
	border-width:1px 0;
}

p {
	margin:10px;
	padding:5px;
	border-left:5px solid #999;
}

p.right {
	border-right:5px solid #999;
	border-left:0;
	text-align:right;
}

p.center {
	border:0;
	text-align:center;
}

form {
	margin:0;
	padding:20px;
}

input {
	margin:3px;
	width:250px;
}

button {
	margin-left:127px;
	width:258px;
}

label {
	display:inline-block;
	width:120px;
}